.valCRPBody{
    background-color:#ececec;
    margin:0 auto;
    width:820px;
    padding:10px!important;
}
    
 .valCRPBody table, .valCRPBody tr, .valCRPBody td{
    border-spacing:0!important;
    border-collapse:collapse!important;
    border:none!important;
    margin:0 auto!important;
}

.valCRPBody td{
    padding-left:0px!important;
}

.valDiu{width:175px;
    border:2px solid #ffffff;
    background-color:#9AC993;
    overflow-y:hidden;
    height:100%!important;
}

.valGri{
    width:175px;
    border:2px solid #ffffff;
    background-color:#81cdd1;
    overflow-y:hidden;
    height:100%;
}

.valCro{
    width:175px;
    border:2px solid #ffffff;
    background-color:#F59D9D;
    overflow-y:hidden;
    height:100%;
}

.valbanBGN{
    opacity:0.5;
    background-repeat:no-repeat;
    background-position:top;
    background-size: auto 400px;
    width:100%;
    height:400px;
    z-index:500;
}

.valCRPb{
    width:100%;
    min-height:430px;
    max-height:100%;
    background-repeat:no-repeat;
    position:relative;
    z-index:501;
    top:-400px;
    margin-bottom:-661px;
    font-family: "Staatliches", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    font-size:18px;
    padding-top:325px;
}

.valDiu .valCRPb{
    background: #9AC993;
    background: linear-gradient(0deg,rgba(154, 201, 147, 1) 40%, rgba(154, 201, 147, 0) 100%);
}

.valGri .valCRPb{
    background: #81CDD1;
    background: linear-gradient(0deg,rgba(129, 205, 209, 1) 40%, rgba(129, 205, 209, 0) 100%);
}

.valCro .valCRPb{
    background: #F59D9D;
    background: linear-gradient(0deg, rgba(245, 157, 157, 1) 40%, rgba(245, 157, 157, 0) 100%);
}

.valDate{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    border-bottom:2px solid white;
    color:black;
    width:146px;
    margin-left:25px;
    text-align:right;
    padding:3px;
}

.valPartner{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:146px;
    margin-left:25px;
    text-align:right;
    padding:3px;
    position:relative;
    top:-20px;
}

.valTitre{
    height:45px;
    text-align:center;
    font-family: "Staatliches", serif;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color:black;
    max-width:585px;
    background-color: white;
    padding:5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
    left:0px!important;
}

.valTitre .up{
    position:relative;
    top:-35px;
}

.valPointe{
    width:33px;
    height:45px;
    background-repeat:no-repeat;
    background-image: url('https://imgur.com/xfPYSwb.png');
    display: inline-block;
    position:relative;
    left:-4px!important;
    margin-right:-4px!important;
}

.valTxtRP{
    background-color:white;
    padding:10px;
    width:611px;
    height:auto;
    font-family:calibri;
    font-size:16px;
    margin-top:10px;
    position:relative;
    margin-left:10px;
}

.valTxtRP p{
    position:relative;
    top:-20px;
    margin-bottom:-20px;
}

.valTxtRP b{
    color:#660099;
}
